.breeds-dropdown{
    height:400px;
    overflow-y:auto;
    background-color: rgba(11, 21, 30, 0.74);
}

.breeds {
    height: 80%;
    overflow-y: auto;
}

.breeds-save {
    text-align: center;
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: rgba(192, 197, 200, 1);;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}

.site-dropdown {
    background-color: rgba(11, 21, 30, 0.74);
}

.dropdown-header {
    color: rgba(140, 148, 155, 1);
}

.site-item {
    color: rgba(192, 197, 200, 1);
}

.site-item:hover {
    background-color: transparent;
    color: whitesmoke;
}

.site-item-favicon {
    width: 20px;
    height: 20px;
    margin-top: 5px;;
}

.site-container {
    display: flex;
    margin: 10px;
}

.settings-dropdown {
    background-color: rgba(11, 21, 30, 0.74);
    width: 300px;
}

.settings-container {
    margin: 10px;
}

.photo-by {
    color: rgba(192, 197, 200, 1);
}

.site-container:hover {
    background-color: rgba(90, 146, 196, 0.74);
    color: whitesmoke;
}

.breeds-dropdown label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: rgba(192, 197, 200, 1);;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.breeds-dropdown input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.breeds-dropdown .active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.breeds-dropdown label:hover,
.breeds-dropdown label:focus {
    background-color: rgba(90, 146, 196, 0.74);
}

.breeds-dropdown .active label:hover,
.breeds-dropdown .active label:focus {
    background-color: #b8b8ff;
}

.current-time {
    font-size: 2.5rem;
    font-weight: normal;
    color: black;
	-webkit-text-fill-color: white; 
    -webkit-text-stroke: 0.3px black;
    float: right;
}

.current-date {
    font-size: 1.2em;
    display: block;
    color: black;
	-webkit-text-fill-color: white; 
	-webkit-text-stroke: 0.3px black; 
}

.navbar-nav > li > .icon {
	-webkit-text-fill-color: white; 
    -webkit-text-stroke: 0.3px black; 
    margin-left: 15px;
 }
 .navbar-nav > li > .icon:hover,
 .navbar-nav > li > .icon:focus {
    color: #0091c1; 
    background-color: transparent;
 }